@tailwind base;

a {
  @apply text-blue-700;
}

/*
a:hover {
  @apply border-b-2 border-blue-700;
}*/

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.bg-primary {
  background-color: #3698CA;
  /*background-color: #FAFAD2;*/
}

.bg-secondary {
  background-color: #005792;
  /*background-color: #FAFAD2;*/
}

.text-hover-primary:hover {
  color: #287da8;
}

.bg-hover-secondary:hover {
  background-color: #01548a;
  /*background-color: #FAFAD2;*/
}

.text-primary {
  color: #3698CA;
}

.text-secondary {
  color: #01548a;
}

li::marker {
  color: #01548a;
}

.h-97 {
  height: 40rem;
}

.h-98 {
  height: 40rem;
}

.h-100 {
  height: 40rem;
}

.h-104 {
  height: 42rem;
}

.h-124 {
  height: 48rem;
}

.h-130 {
  height: 53rem;
}

.w-104 {
  width: 42rem;
}

.w-custom {
  max-width: 540px;
}

.scroll-y {
  overflow-y: hidden;
}

@media screen and ( max-width: 1024px ){
  .h-130 {
    height: auto;
  }
}

@media screen and ( max-height: 740px ) {
  .scroll-y {
    overflow-y: scroll
  }
}

@media screen and ( max-width: 640px) {
  .h-97 {
    height: 24rem;
  }
}

@media screen and (max-width: 1024px) {
  .h-98 {
    height: 35rem;
  }
}

:root {
  --swiper-theme-color: #3698CA !important ;
}

.swiper-button-prev:hover {
  color: #287da8;
}

.swiper-button-next:hover {
  color: #287da8;
}

.swiper-button-prev::after {
  scale: 0.80;
  border-radius: 100%;
  padding: 2rem;
  margin-left: 3rem;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.swiper-button-next::after {
  scale: 0.80;
  border-radius: 100%;
  padding: 2rem;
  margin-right: 3rem;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

@media screen and ( max-width: 1025px ) {
  .swiper-button-prev::after {
    margin-left: 0rem;
  }

  .swiper-button-next::after {
    margin-right: 0rem;
  }
}

.sticky-header-up {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background-color: red;
}

.sticky-header-down {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background-color: black;
  box-shadow: none
}