@tailwind base;

a {
  @apply text-blue-700;
}

/*
a:hover {
  @apply border-b-2 border-blue-700;
}*/

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.bg-primary {
  background-color: #3698CA;
  /*background-color: #FAFAD2;*/
}

.bg-secondary {
  background-color: #005792;
  /*background-color: #FAFAD2;*/
}

.h-100 {
  height: 40rem;
}