@tailwind base;

a {
  @apply text-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.bg-primary {
  background-color: #385170;
}

.bg-secondary {
  background-color: #142d4c;
}

.text-hover-primary:hover {
  color: #324d6e;
}

.bg-hover-secondary:hover {
  background-color: #0a203b;
}

.text-primary {
  color: #385170;
}

.text-secondary {
  color: #385170;
}

li::marker {
  color: #385170;
}

.h-97 {
  height: 40rem;
}

.h-98 {
  height: 40rem;
}

.h-100 {
  height: 40rem;
}

.h-104 {
  height: 42rem;
}

.h-124 {
  height: 48rem;
}

.h-130 {
  height: 53rem;
}

.w-104 {
  width: 42rem;
}

.w-custom {
  max-width: 540px;
}

.scroll-y {
  overflow-y: hidden;
}

@media screen and ( max-width: 1024px ) {
  .h-130 {
    height: auto;
  }

  .h-124 {
    height: auto;
  }
}

@media screen and ( min-height: 720px) and (max-height: 900px) and ( min-width: 1024px ) {
  .h-130 {
    height: 40rem;
  }
}

@media screen and ( max-height: 740px ) {
  .scroll-y {
    overflow-y: scroll
  }
}

@media screen and ( max-width: 640px) {
  .h-97 {
    height: 29rem;
  }
}

@media screen and (max-width: 1024px) {
  .h-98 {
    height: 35rem;
  }
}

@media screen and (min-width: 1640px) {
  .h-3xl {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }

  .h-4xl {
    padding-left: 11.5rem !important;
    padding-right: 11.5rem !important;
  }
}

@media screen and (min-width: 1530px) and (max-width: 1664px) {
  .p-fix {
    padding-left: 4rem !important;
  }
}

:root {
  --swiper-theme-color: #385170 !important ;
}

.swiper-button-prev:hover {
  color: #385170;
}

.swiper-button-next:hover {
  color: #385170;

}

.swiper-button-prev::after {
  scale: 0.80;
  padding: 2rem;
  margin-left: 3rem;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.swiper-button-next::after {
  scale: 0.80;
  padding: 0.5rem;
  margin-right: 3rem;
  filter: drop-shadow(0 50px 50px rgb(0 0 0 / 0.15));
}

@media screen and ( max-width: 1025px ) {
  .swiper-button-prev::after {
    margin-left: 0rem;
  }

  .swiper-button-next::after {
    margin-right: 0rem;
  }
}

.sticky-header-up {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.sticky-header-down {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  box-shadow: none;
}

.img-gradient{
  position:relative;
}

.img-gradient:after {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%; 
  height:100%;
  z-index: 1;
  background: linear-gradient(to bottom, transparent 30%, rgb(0, 0, 0) 130%);
}

.hero-img-gradient {
  position:relative;
}

.hero-img-gradient:after {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%; 
  height:100%;
  z-index: 1;
  background: linear-gradient(to bottom, transparent 20%, rgb(0, 0, 0) 130%);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-white {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%
}

.image-padding {
  padding-top: 75%;
}

.scroll-button {
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.show {
  opacity: 1;
  visibility: visible;
}

.hide {
  opacity: 0;
  visibility: hidden;
}